.playing {
  display: flex;
  justify-content: flex-start;
  border: 1px solid var(--sub-alt-color);
  border-radius: 8px;
  margin-top: 0.7rem;
  transition: var(--transiton-primary), border 0.3s ease;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .playing {
    min-width: 380px;
  }
}

/* PlayingArtist */
.playingArtist {
  padding-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 1rem;
  color: var(--text-color);
  transition: var(--transiton-primary);
}

.playingArtist .play a {
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  padding-top: 0.5rem;
  transition: var(--transiton-primary);
  font-family: var(--font-primary), monospace;
}

.playingArtist .play a:hover {
  color: var(--main-color);
}

.playingArtist .play .artist,
.playingArtist .song {
  all: unset;
  padding-left: 0.2rem;
  font-family: var(--font-primary), monospace;
  text-decoration: none;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;

  --fluid-type-max: 1rem;
  --fluid-type-target: 2vw;
}

@media screen and (min-width: 480px) {
  .playingArtist {
    max-width: 100%;
  }
}

/* PlayingSpot */
.playingSpot {
  display: flex;
  align-items: center;
}

.playingSpot span {
  font-family: var(--font-primary), monospace;
  letter-spacing: 0.02em;
  margin-left: 0.5rem;
  text-decoration: none;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;

  --fluid-type-max: 1rem;
  --fluid-type-target: 2vw;
}