.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--text-color);
  max-width: 45rem;
  padding: 1.2rem 0;
  transition: var(--transition-primary);
}

.name {
  font-weight: 900;
  color: var(--text-color);
  font-family: var(--font-secondary), monospace;
  transition: var(--transition-primary);
  --fluid-type-min: 1.4rem;
  --fluid-type-max: 4.5rem;
  --fluid-type-target: 12vw;
}

.biography {
  color: var(--text-color);
  line-height: 1.5;
  padding-top: 0.4rem;
  font-family: var(--font-primary), monospace;
  font-weight: 300;
  transition: var(--transition-primary);
  --fluid-type-min: 1rem;
  --fluid-type-max: 1.2rem;
}

.username {
  color: var(--text-color);
  font-family: var(--font-primary), monospace;
  font-weight: 200;
  padding: 0.2rem 0;
  transition: var(--transition-primary);
}

.socialContainer {
  padding-top: 0.8rem;
}
