.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: var(--bg-color);
  padding: 0 1.5rem;
  transition: var(--transitonTheme);
}

.layout {
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  transition: var(--transitonTheme);
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem 1.5rem 8rem 1.5rem;
}

.layout[layout='small'] {
  max-width: 60rem;
}

.layout[layout='medium'] {
  max-width: 70rem;
}

.layout[layout='large'] {
  max-width: 80rem;
}

.layout[layout='full'] {
  max-width: 100%;
}

.layout[layout='default'] {
  max-width: 60rem;
}