/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding-top: 2rem;
}

@media screen and (min-width: 1100px) {
  .header {
    padding-top: 4rem;
  }
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: wrap;
  font-weight: 600;
}

.nav a {
  color: var(--text-alt-color);
  text-decoration: none;
  font-weight: 400;
  position: relative;
  font-family: var(--font-secondary), monospace;
  transition: var(--transition-primary);
  --fluid-type-min: 1rem;
  --fluid-type-max: 1.3rem;
  --fluid-type-target: 2vw;
}

@media screen and (min-width: 620px) {
  .nav {
    flex-flow: nowrap;
    justify-content: space-between;
  }
}

/* NavItem */
.navItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  line-height: 1.8;
}

.navItem:not(:last-child) {
  margin-right: 1rem;
}

.navItem .link,
.navItem svg {
  color: var(--text-gray-color);
}

.navItem[data-active="active"] .link,
.navItem[data-active="active"] svg {
  color: var(--main-color);
}

.navItem[data-active="active"] .link::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background: var(--main-color);
  transition: var(--transition-primary);
  border-radius: 50%;
  transform: translateX(-45%);
  top: -10px;
  right: -10px;
}

@media screen and (min-width: 620px) {
  .navItem {
    line-height: initial;
  }
}
