/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "fonts.css";

:root {
  font-family: Inter, sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    --font-secondary: InterVariable, sans-serif;
    font-feature-settings: 'ss01' 1, 'ss02' 1, 'ss03' 1, 'ss04' 1, 'ss07' 1, 'zero' 1, 'cv05' 1, 'cv08' 1, 'cv10' 1, 'cv09' 1, 'cv02' 1, 'cv03' 1, 'cv04' 1, 'cv06' 1, 'cv12' 1, 'cv13' 1, 'liga' 1, 'calt' 1;
  }
}

:root {
  --font-primary: Inter, sans-serif;
  --font-secondary: Inter, sans-serif;
  --font-title: var(--font-secondary), Inter, sans-serif;
  --font-code: "Fantasque Sans Mono", monospace;
  --font-bolder: 'Kalam', sans-serif;
}

/* scrollbar-gutter prevents layout shift when scrollbar appears */
/* html {
  scrollbar-gutter: stable;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: var(--colors-select) !important;
  color: #FFFFFF !important;
}

::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

::-webkit-scrollbar-track {
  background: var(--colors-bg_alt_color);
  transition: var(--transitions-transitonTheme);
}

::-webkit-scrollbar-thumb {
  border-radius: 50rem;
  background: var(--colors-main_color);
  transition: var(--transitions-transitonTheme);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--colors-main_color);
  transition: var(--transitions-transitonTheme);
}

body {
  text-rendering: optimizeLegibility;
}

@supports (-webkit-font-smoothing: antialiased) {
  body {
    -webkit-font-smoothing: antialiased;
  }
}

@supports not (-moz-osx-font-smoothing: antialiased) {
  body {
    -moz-osx-font-smoothing: subpixel-antialiased;
  }
}

/**
 * Cover article images where image is wider than container
 */
span img {
  object-fit: cover !important;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
p,
time,
pre,
button,
code,
samp,
blockquote,
li,
tt {
  font-size: clamp(var(--fluid-type-min, 1rem),
      calc(1rem + var(--fluid-type-target, 5vw)),
      var(--fluid-type-max, 1.4rem)) !important;
  text-rendering: optimizeLegibility;
}

@supports (-webkit-text-size-adjust: 100%) or (-moz-text-size-adjust: 100%) or (-ms-text-size-adjust: 100%) or (text-size-adjust: 100%) {
  p {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
}

.fade-in-layout {
  opacity: 0;
  animation: fadeIn 300ms ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}