/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: var(--select) !important;
  color: #ffffff !important;
  transition: var(--transition-primary);
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--bg_alt_color);
  transition: var(--transition-primary);
}

::-webkit-scrollbar-thumb {
  border-radius: 50rem;
  background: var(--main-color);
  transition: var(--transition-primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
  transition: var(--transition-primary);
}

body {
  text-rendering: optimizeLegibility;
}

@supports (-webkit-font-smoothing: antialiased) {
  body {
    -webkit-font-smoothing: antialiased;
  }
}

@supports not (-moz-osx-font-smoothing: antialiased) {
  body {
    -moz-osx-font-smoothing: subpixel-antialiased;
  }
}

/**
 * Cover article images where image is wider than container
 */
span img {
  object-fit: cover !important;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
p,
time,
pre,
strong,
button,
code,
samp,
blockquote,
li,
tt {
  font-size: clamp(
    var(--fluid-type-min, 1rem),
    calc(1rem + var(--fluid-type-target, 5vw)),
    var(--fluid-type-max, 1.4rem)
  ) !important;
  text-rendering: optimizeLegibility;
}

@supports (-webkit-text-size-adjust: 100%) or (-moz-text-size-adjust: 100%) or
  (-ms-text-size-adjust: 100%) or (text-size-adjust: 100%) {
  p {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
}

.fade-in-layout {
  opacity: 0;
  animation: fadeIn 300ms ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
